.button-contained {
  display: inline-block;
  margin-top: 80px;
  background: #c000ff;
  border: 2px solid #c000ff;
  border-radius: 50px;
  padding: 16px 48px;
  font-weight: 700;
  font-size: 20px;
  line-height: 150%;
  color: #ffffff;
  text-transform: capitalize;
  transition: 0.25s ease-out;

  &:hover {
    transition: 0.25s ease-in;
    background-color: #bf00ff54;
  }
}

.button-outlined {
  display: inline-block;
  margin-top: 50px;
  font-family: "Mulish", sans-serif !important;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  color: #ffffff;
  padding: 16px 22px;
  border: 2px solid #c000ff;
  border-radius: 50px;
  transition: 0.25s ease-out;

  &:hover {
    transition: 0.25s ease-in;
    background-color: #c000ff;
  }
}

// responsive
@media (max-width: 1024px) {
  .button-outlined {
    font-size: 18px;
    padding: 14px 20px;
  }

  .button-contained {
    padding: 14px 38px;
    font-size: 18px;
  }
}
