.cs {
  padding: 230px 0px 130px;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #180036;
  background-position: left top;
  position: relative;

  &__text-box {
    margin-left: 90px;
  }

  // variation 1
  // desktop
  .swiper-button-next {
    color: white;
  }

  .swiper-button-prev {
    color: white;
  }
  &__card-box-desktop {
    width: 100%;
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;

    .second-card {
      background: linear-gradient(180deg, #210a3e 0%, rgba(8, 10, 18, 0) 100%);
      transition: 0.25s ease-out;

      &:hover {
        transition: 0.25s ease-in;
        background-color: #401d6a6b;
      }

      .cs__card-box__card__logo {
        background-color: #25133d;
      }
    }

    &__card {
      text-align: center;
      align-items: center;
      padding: 50px 112px 230px;
      background: linear-gradient(180deg, #471483 0%, rgba(25, 28, 38, 0) 100%);
      transition: 0.25s ease-out;
      cursor: pointer;

      &:hover {
        transition: 0.25s ease-in;
        background-color: #401d6a6b;
      }

      &__logo {
        background-color: #401d6a;
        padding: 30px;
        border-radius: 100%;
        margin-bottom: 36px;
      }

      &__card-desc {
        text-align: center;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        text-transform: capitalize;
        color: #a9afc3;
        width: 156px;
        margin: auto;
      }
    }
  }

  // mobile
  &__card-box-mobile {
    display: none;
    width: 100%;
    margin-top: 50px;
    justify-content: center;
    align-items: center;

    .swiper-pagination {
      span {
        background-color: white;
      }
    }

    .second-card {
      background: linear-gradient(180deg, #210a3e 0%, rgba(8, 10, 18, 0) 100%);
      transition: 0.25s ease-out;

      &:hover {
        transition: 0.25s ease-in;
        background-color: #401d6a6b;
        cursor: pointer;
      }

      .cs__card-box__card__logo {
        background-color: #25133d;
      }
    }

    &__card {
      padding: 50px 20px 200px;
      width: 80%;
      margin: auto;
      text-align: center;
      align-items: center;
      background: linear-gradient(180deg, #471483 0%, rgba(25, 28, 38, 0) 100%);
      transition: 0.25s ease-out;

      &:hover {
        transition: 0.25s ease-in;
        background-color: #401d6a6b;
        cursor: pointer;
      }

      &__logo {
        background-color: #401d6a;
        padding: 30px;
        border-radius: 100%;
        margin-bottom: 36px;
      }

      &__card-desc {
        text-align: center;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        text-transform: capitalize;
        color: #a9afc3;
        width: 60%;
        margin: auto;
      }
    }
  }

  // variation 2
  &__card-box-2 {
    margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-wrap: wrap;

    &__card {
      text-align: center;
      align-items: center;
      padding: 50px 112px 142px;
      background: linear-gradient(180deg, #471483 0%, rgba(25, 28, 38, 0) 100%);
      transition: 0.25s ease-out;
      margin: 0;

      &:hover {
        transition: 0.25s ease-in;
        background-color: #401d6a6b;
      }

      &:nth-of-type(2n) {
        background: linear-gradient(
          180deg,
          #210a3e 0%,
          rgba(8, 10, 18, 0) 100%
        );
        transition: 0.25s ease-out;

        &:hover {
          transition: 0.25s ease-in;
          background-color: #401d6a6b;
        }

        .cs__card-box-2__card__logo {
          background-color: #25133d;
        }
      }

      &__logo {
        background-color: #401d6a;
        padding: 30px;
        border-radius: 100%;
        margin-bottom: 36px;
      }

      &__card-desc {
        text-align: center;
        font-family: "Poppins";
        font-style: normal;
        font-weight: 500;
        font-size: 20px;
        line-height: 130%;
        text-transform: capitalize;
        color: #a9afc3;
        width: 156px;
        margin: auto;
        margin-bottom: 50px;
      }

      &__link {
        font-family: "Poppins";
        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 150%;
        text-transform: uppercase;
        color: #c000ff;
        transition: 0.25s ease-out;

        &:hover {
          color: #a9afc3;
          transition: 0.25s ease-in;
        }

        &::after {
          content: "";
          width: 92px;
          display: block;
          border: 1px solid #c000ff;
          margin: 12px auto 0px;
        }
      }
    }
  }
}

.cs-2 {
  padding: 230px 0px 95px;
  background-size: auto;
  background-repeat: no-repeat;
  background-color: #180036;
  background-position: left top;
}

// responsive
@media (max-width: 1500px) {
  .cs {
    &__text-box {
      margin-left: 0px;
    }

    // desktop
    &__card-box-desktop {
      &__card {
        padding: 110px 20px 200px;

        &__card-desc {
          font-size: 18px;
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .cs {
    // variation 1
    // desktop
    .swiper-button-next {
      display: none;
    }

    .swiper-button-prev {
      display: none;
    }

    &__card-box-desktop {
      display: none;
    }

    // mobile
    &__card-box-mobile {
      display: flex;
    }

    // variation 2
    &__card-box-2 {
      margin-top: 40px;

      &__card {
        padding: 50px 20px 110px;
        margin-bottom: 40px;
        width: 80%;

        &__card-desc {
          width: 80%;
        }
      }
    }
  }

  .cs-2 {
    padding: 130px 0px;
  }
}
