.form-sec {
  padding: 210px 0px;
  background-color: #13012a;
  background-position: center;
  background-size: cover;

  &__text-box {
    margin-bottom: 70px;
  }

  &__form-box {
    input {
      margin-right: 30px;
      padding: 15px 0px;
      outline: none;
      background: transparent;
      border: none;
      width: 262px;
      border-bottom: 1px solid #3a3f50;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 170%;
      color: #a9afc3;
      opacity: 0.5;
    }

    textarea {
      margin-top: 37px;
      outline: none;
      background: transparent;
      border: none;
      border-bottom: 1px solid #3a3f50;
      width: 555px;
      height: 100px;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 170%;
      color: #a9afc3;
      resize: none;
      opacity: 0.5;
    }
  }
}

// responsive
@media (max-width: 1024px) {
  .form-sec {
    padding: 130px 0px;

    &__form-box {
      input {
        width: 80%;
        margin-bottom: 10px;
        margin-right: 0px;
      }

      textarea {
        margin-top: 30px;
        width: 80%;
      }
    }
  }
}
