.hero {
  padding: 250px 0px;
  background: #180036;
  color: white;
  position: relative;

  &__text-box {
    position: relative;

    &__title {
      margin-top: 22px;
      font-family: "Poppins";
      font-style: normal;
      font-weight: 700;
      font-size: 120px;
      line-height: 100%;
      text-transform: capitalize;
    }
  }

  &__image {
    width: 50%;
    height: 100%;
    position: absolute;
    top: 0px;
    right: 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    object-fit: contain;
  }
}

// responsive

@media (max-width: 1024px) {
  .hero {
    padding: 130px 0px;
    // background-size: 100% 100%;

    &__text-box {
      &__title {
        font-size: 80px;
      }
    }

    &__image {
      width: 100%;
    }
  }
}

@media (max-width: 768px) {
  .hero {
    &__text-box {
      &__title {
        font-size: 55px;
      }
    }
  }
}
