.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    180deg,
    #210a3e 0%,
    rgba(33, 10, 62, 0.85) 34%,
    rgba(33, 10, 62, 0.6) 65%,
    rgba(33, 10, 62, 0) 100%
  );
  padding: 40px 0px;
  z-index: 10;
  transition: 0.25s ease-in-out;

  &__small-menu-box {
    display: none;

    justify-content: space-between;
    align-items: center;

    &__logo-responsive {
      width: 150px;
      height: 32px;
      margin-right: 20px;
    }

    &__menu-icon {
      width: 30px;
      height: 40px;
      cursor: pointer;

      span {
        content: "";
        height: 2px;
        display: block;
        background-color: white;
        margin: 8px 0px;
        border-radius: 15px;
        transition: opacity 0.2s cubic-bezier(0.3, 0, 0.22, 1),
          -webkit-transform 0.4s cubic-bezier(0.3, 0, 0.22, 1);
        transition: transform 0.4s cubic-bezier(0.3, 0, 0.22, 1),
          opacity 0.2s cubic-bezier(0.3, 0, 0.22, 1);
        transition: transform 0.4s cubic-bezier(0.3, 0, 0.22, 1),
          opacity 0.2s cubic-bezier(0.3, 0, 0.22, 1),
          -webkit-transform 0.4s cubic-bezier(0.3, 0, 0.22, 1);

        &:nth-child(1) {
          transform-origin: bottom right !important;
          transform: rotate(0deg) translateY(-1px);
        }

        &:nth-child(3) {
          transform-origin: top right !important;
          transform: rotate(0deg) translateY(1px);
        }
      }
    }
  }

  .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__box-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 65%;

    &__logo {
      margin-right: 100px;
      width: 150px;
      height: 32px;
    }

    &__link-box {
      display: flex;
      justify-content: flex-start;
      flex-wrap: wrap;

      &__link {
        margin-right: 40px;
        color: #ffffff;
        font-family: "Mulish", sans-serif !important;
        font-size: 18px;
        font-weight: 400;
        text-transform: capitalize;
        position: relative;
        overflow: hidden;

        &:last-child {
          margin-right: 0px;
        }

        &::after {
          content: "";
          width: 100%;
          height: 2px;
          background: white;
          display: block;
          margin-top: 5px;
          -webkit-transform-origin: right top;
          transform-origin: right top;
          z-index: -1;
          transition: opacity 0.4s cubic-bezier(0.3, 0, 0.22, 1),
            -webkit-transform 0.3s cubic-bezier(0.3, 0, 0.22, 1);
          transition: transform 0.3s cubic-bezier(0.3, 0, 0.22, 1),
            opacity 0.4s cubic-bezier(0.3, 0, 0.22, 1);
          transition: transform 0.3s cubic-bezier(0.3, 0, 0.22, 1),
            opacity 0.4s cubic-bezier(0.3, 0, 0.22, 1),
            -webkit-transform 0.3s cubic-bezier(0.3, 0, 0.22, 1);
          -webkit-transform: scaleX(0);
          transform: scaleX(0);
          opacity: 0;
        }

        &:hover {
          &::after {
            -webkit-transform-origin: left top;
            transform-origin: left top;
            z-index: 1;
            -webkit-transform: scaleX(100%);
            transform: scaleX(100%);
            opacity: 1;
          }
        }
      }
    }
  }

  &__box-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__phone {
      font-family: "Mulish", sans-serif !important;
      font-weight: 400;
      font-size: 20px;
      color: #ffffff;
      margin-right: 100px;
    }
  }
}

.open-menu {
  span {
    &:nth-child(1) {
      transform-origin: bottom right !important;
      transform: rotate(-46.5deg) translateY(-2px);
    }
    &:nth-child(2) {
      transform: translateX(100%) !important;
      opacity: 0 !important;
    }
    &:nth-child(3) {
      transform-origin: top right !important;
      transform: rotate(46.5deg) translateY(2px);
    }
  }
}

.navbar-show {
  background: #180036 !important;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.301);
  z-index: 5;
  display: none;
}

// responsive
@media (max-width: 1450px) {
  .navbar {
    &__box-1 {
      flex: 0 0 55%;
      margin-bottom: 20px;
      &__logo {
        margin-right: 25px;
      }

      &__link-box {
        &__link {
          margin-right: 15px;
        }
      }
    }

    &__box-2 {
      &__phone {
        margin-right: 20px;
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 1270px) {
  .navbar {
    &__box-1 {
      &__link-box {
        &__link {
          &:last-child {
            margin-top: 5px;
          }
        }
      }
    }

    &__box-2 {
      &__phone {
        margin-right: 20px;
        font-size: 18px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0px;

    &__small-menu-box {
      display: flex;
    }

    .flex-box {
      justify-content: center;
      align-items: flex-start;
      flex-wrap: nowrap;
      flex-direction: column;
      max-height: 0px;
      overflow: hidden;
      transition: 0.25s ease-out;
    }

    .flex-box-show {
      max-height: 500px;
      padding: 30px 0px;
      transition: 0.25s ease-in;
    }

    &__box-1 {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;

      &__logo {
        display: none;
      }

      &__link-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__link {
          width: 100%;
          margin-right: 0px;
          margin-bottom: 20px;
          color: #ffffff;

          &:last-child {
            margin-top: 0px;
          }

          &::after {
            display: none;
          }
        }
      }
    }

    &__box-2 {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      &__phone {
        font-size: 18px;
        margin-right: 0px;
        margin-bottom: 20px;
      }

      &__button {
        text-align: center;
        width: 100%;
      }
    }
  }

  .overlay-show {
    display: block;
  }
}
