.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    180deg,
    #210a3e 0%,
    rgba(33, 10, 62, 0.85) 34%,
    rgba(33, 10, 62, 0.6) 65%,
    rgba(33, 10, 62, 0) 100%
  );
  padding: 60px 0px;
  z-index: 10;
  transition: 0.25s ease-out;

  &__small-menu-box {
    display: none;

    &__logo-responsive {
      width: 150px;
      height: 32px;
      margin-right: 20px;
    }

    &__menu-icon {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
        brightness(153%) contrast(103%);
      cursor: pointer;
      transition: 0.25s ease-out;

      &:hover {
        filter: invert(69%) sepia(17%) saturate(242%) hue-rotate(189deg)
          brightness(98%) contrast(91%);
        transition: 0.25s ease-in;
      }
    }

    &__close-icon {
      filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(93deg)
        brightness(153%) contrast(103%);
      cursor: pointer;
      transition: 0.25s ease-out;
      display: none;

      &:hover {
        filter: invert(69%) sepia(17%) saturate(242%) hue-rotate(189deg)
          brightness(98%) contrast(91%);
        transition: 0.25s ease-in;
      }
    }
  }

  .flex-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
  }

  &__box-1 {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex: 0 0 65%;

    &__logo {
      margin-right: 100px;
      width: 150px;
      height: 32px;
    }

    &__link-box {
      &__link {
        margin-right: 40px;
        color: #ffffff;
        font-family: "Mulish", sans-serif !important;
        font-size: 18px;
        font-weight: 400;
        text-transform: capitalize;

        &:last-child {
          margin-right: 0px;
        }
      }
    }
  }

  &__box-2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    &__phone {
      font-family: "Mulish", sans-serif !important;
      font-weight: 400;
      font-size: 20px;
      color: #ffffff;
      margin-right: 100px;
    }

    &__button {
      font-family: "Mulish", sans-serif !important;
      font-style: normal;
      font-weight: 400;
      font-size: 20px;
      color: #ffffff;
      padding: 16px 20px;
      border: 2px solid #c000ff;
      border-radius: 50px;
      transition: 0.25s ease-out;

      &:hover {
        transition: 0.25s ease-in;
        background-color: #c000ff;
      }
    }
  }
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.301);
  z-index: 5;
  display: none;
}

// responsive
@media (max-width: 1450px) {
  .navbar {
    &__box-1 {
      flex: 0 0 100%;
      margin-bottom: 20px;
    }

    &__box-2 {
      &__phone {
        margin-right: 40px;
      }
    }
  }
}

@media (max-width: 1024px) {
  .navbar-show {
    background: #180036 !important;
    transition: 0.25s ease-in;
  }

  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 0px;

    &__small-menu-box {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .flex-box {
      justify-content: center;
      align-items: flex-start;
      flex-wrap: nowrap;
      flex-direction: column;
      max-height: 0px;
      overflow: hidden;
      transition: 0.25s ease-out;
    }

    .flex-box-show {
      max-height: 500px;
      padding: 30px 0px;
      transition: 0.25s ease-in;
    }

    &__box-1 {
      justify-content: flex-start;
      align-items: flex-start;
      flex-direction: column;
      width: 100%;

      &__logo {
        display: none;
      }

      &__link-box {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;

        &__link {
          width: 100%;
          margin-right: 0px;
          margin-bottom: 20px;
          color: #ffffff;

          // &::after {
          //   margin-top: 5px;
          //   content: "";
          //   width: 150px;
          //   display: block;
          //   border-top: 0.5px solid #a9afc3;
          //   transition: 0.25s ease-out;
          // }

          // &:hover {
          //   &::after {
          //     width: 300px;
          //     transition: 0.25s ease-in;
          //   }
          // }
        }
      }
    }

    &__box-2 {
      flex-direction: column;
      align-items: flex-start;
      width: 100%;

      &__phone {
        font-size: 18px;
        margin-right: 0px;
        margin-bottom: 20px;
      }

      &__button {
        text-align: center;
        font-size: 18px;
        padding: 14px 17px;
        border: 2px solid #c000ff;
        border-radius: 50px;
        width: 100%;
      }
    }
  }

  .overlay-show {
    display: block;
  }
}
