.tb {
  padding: 220px 0px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: #13012a;

  &__flex-box {
    display: flex;
    justify-content: flex-end;
  }

  &__text-box {
    flex: 0 0 45%;

    &__desc {
      margin-top: 32px;
      font-family: "Mulish";
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
      line-height: 170%;
      color: #a9afc3;
    }
  }
}

// responsive

@media (max-width: 1450px) {
  .tb {
    &__text-box {
      flex: 0 0 60%;
    }
  }
}

@media (max-width: 1024px) {
  .tb {
    padding: 130px 0px;
    background-size: cover;
    background-repeat: no-repeat;
    background-color: #13012a;

    &__flex-box {
      display: flex;
      justify-content: flex-end;
    }

    &__text-box {
      flex: 0 0 100%;

      &__desc {
        margin-top: 32px;
        font-size: 18px;
      }
    }
  }
}
