// # Framework
@import "./01-framework/bootstrap/grid";
@import "./01-framework/mixins";
@import "./01-framework/fonts";

// # Google Fonts
@import url("https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,400&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap");

// -- MODULES
@import "./02-modules/navbar.scss";
@import "./02-modules/text-image-split.scss";
@import "./02-modules/text-background.scss";
@import "./02-modules/footer.scss";
@import "./02-modules/card-section.scss";

// -- COMMON
@import "./04-common/animations";
@import "./04-common/forms";
@import "./04-common/images";
@import "./04-common/global";
@import "./04-common/content";
@import "./04-common/main";
@import "./04-common/grid";
@import "./04-common/z-index";

// -- LAYOUT
@import "./03-layout/main";
@import "./03-layout/header";
@import "./03-layout/footer";

// -- VENDOR
@import "./05-vendor/slick";
